<p class="meta">
    <span>{{ post.date | date: "%-d. %-m. %Y" }}</span>
    {% for author in post.authors %}
        {% assign author_info = site.data.autori[author] %}
        {% if author_info.mail %}
        <a href="mailto:{{ author_info.mail }}" class="author">{{ author }}</a>
        {% else %}
        <span class="author">{{ author }}</span>
        {% endif %}
    {% endfor %}
    {% if post.category %}
        <a class="section" href="/rubriky/{{ post.category | url_encode }}/">{{ post.category }}</a>
    {% endif %}
</p>
