@font-face {
    font-family: "Ladislav Regular";
    src: url("/assets/Ladislav_Regular.otf");
}

@font-face {
    font-family: "Ladislav Semibold";
    src: url("/assets/Ladislav_SemiBold.otf");
}

/* Záhlaví */

.zahlavi {
    background: #333;
    color: white;
    padding: 10px;
    padding-top: 24px;
    text-align: center;
}

.zahlavi h1 {
    color: orange;
    font-size: 300%;
    margin: 0;
}

.zahlavi small {
    font-size: inherit;
    color: #eee;
}

h1 {
    font-family: 'Ladislav Semibold', sans-serif;
    text-transform: lowercase;
}

a.domu {
    text-decoration: none;
}

a.domu:hover small {
    color: white;
}

/* Seznam rubrik */

.lista-zahlavi {
    border-bottom: 1px solid rgb(215, 215, 215);
    background: #ddd;
}

.seznam-rubrik {
    list-style: none;
    margin: 0;
    padding: 0;
}

.seznam-rubrik li {
    width: 25%;
    float: left;
    margin: 0;
}

.seznam-rubrik a {
    display: block;
    padding: 8px;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
}

.seznam-rubrik a:hover {
    background: orange;
    color: white;
}

.seznam-rubrik li:not(:last-child) a {
    border-right: 1px solid #ccc;
}

/* Seznamy článků */

.meta, .meta a {
    font-size: 11px;
    color: gray;
    text-transform: uppercase;
}

.autor:before, .rubrika:before {
    content: "· ";
    color: silver;
}

/* Patička */

.paticka {
    color: #ddd;
    background: #333;
    padding-bottom: 60px;
    margin-top: 30px;
    padding-top: 30px;
}

.paticka a {
    color: rgb(96, 169, 232);
}

/* Obsah */

.obsah {
    margin-top: 20px;
}

.reklama-ctverec {
    margin-bottom: 20px;
}

a:hover {
    text-decoration: none;
    color: orange;
}

h2, h3 {
    font-family: 'Ladislav Regular', sans-serif;
}
