@font-face {
    font-family: "Ladislav Regular";
    src: url("/assets/Ladislav_Regular.woff");
}

@font-face {
    font-family: "Ladislav Semibold";
    src: url("/assets/Ladislav_SemiBold.woff");
}

@font-face {
    font-family: "Einhorn";
    src: url("/assets/Einhorn.ttf");
}

body {
    padding-top: 10px;
}

/* Záhlaví */

.masthead {
    font-family: Einhorn;
    padding-bottom: 15px;
}

.masthead h1 {
    font-family: inherit;
    text-transform: lowercase;
    font-size: 550%;
    line-height: 0.9em;
    margin: 0;
    margin-right: 10px;
    display: inline;
}

.masthead .subtitle {
    white-space: nowrap;
    font-size: 140%;
    color: silver;
}

a.home {
    text-decoration: none;
}

/* Seznam rubrik */

.section-index {
    border-top: 6px solid silver;
    border-bottom: 2px solid silver;
    font-family: 'Ladislav Regular', sans-serif;
    font-size: 24px;
}

.section-index ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-index li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

.section-index li.current:before,
.section-index li.current:after {
    position: absolute;
    left: 30%;
    content: "";
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	font-size: 0;
	line-height: 0;
}

/* zobáček */
.section-index li.current:after {
    border-bottom-color: silver;
    bottom: 0;
}

/* maska zobáčku */
.section-index li.current:before {
    bottom: -3px;
    z-index: 1000;
}

.section-index a {
    display: block;
    padding: 10px 15px 10px 0px;
    text-align: center;
    text-transform: lowercase;
}

/* Seznamy článků */

.meta, .meta a {
    font-size: 11px;
    color: gray;
    text-transform: uppercase;
}

.author:before, .section:before {
    content: "· ";
    color: silver;
}

.featured-article {
    margin-top: 20px;
}

.featured-article hr {
    clear: both;
    margin-bottom: 0;
    margin-top: 0;
}

/* Titulní fotky s málo širokým poměrem */

.article-preview.low-aspect .cover-photo {
    max-width: 60%;
    margin-right: 3%;
    margin-bottom: 20px;
    float: left;
}

.article-preview.low-aspect .article-body {
    width: 37%;
    float: left;
}

.article-preview.low-aspect .article-body h2 {
    margin-top: 0;
}

/* Postranní boxy */

.row {
    overflow: hidden;
}

.sidebar {
    background: #eee;
    padding-bottom: 100%;
    margin-bottom: -100%;
    padding-left: 0;
    padding-right: 0;
    border-left: 15px solid white;
    border-right: 15px solid white;
}

.box {
    padding: 20px;
    padding-top: 1px;
    border-bottom: 2px solid white;
}

.ad-square {
    border-top: 1px solid #ddd;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}

.issue-picker {
    margin-bottom: 12px;
    margin-left: -2px;
}

.event-calendar p {
    color: black;
}

.top-articles a {
    text-transform: uppercase;
}

.top-articles li {
    margin-bottom: 2px;
}

/* Stránkování */

.pager {
    border-top: 2px solid silver;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Ladislav Regular', sans-serif;
    font-size: 24px;
    text-transform: lowercase;
    text-align: center;
}

.pager .divider {
    font-size: 80%;
    color: gray;
    padding: 3px;
}

.pager a.disabled {
    color: silver;
    cursor: default;
}

/* Článek */

.article-container {
    padding-bottom: 40px;
}

.article-container h2 {
    font-size: 250%;
}

.tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 11px;
}

.tag-list li {
	float:left;
}

.tag-list a {
    position: relative;
    display: block;
    height: 24px;
    line-height: 24px;
    margin-left: 12px;
    margin-right: 12px;
    padding:0 10px 0 12px;
    background: rgb(66, 139, 202);
    color: #fff;
    text-decoration: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.tag-list a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent rgb(66, 139, 202) transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.tag-list a:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background: #fff;
	box-shadow: inset 1px 1px 0px #ddd;
}

.tag-list a:hover { background: orange; color: white; }
.tag-list a:hover:before { border-color: transparent orange transparent transparent; }

.fb-like {
    float: right;
}

/* Inzerce */

.advertising .thumbnail {
    padding-top: 15px;
}

.advertising .caption {
    width: 190px;
    margin: auto;
    padding: 0;
}

/* Patička */

.footer {
    border-top: 6px solid silver;
    padding-bottom: 40px;
    margin-top: 20px;
    padding-top: 25px;
}

/* Obsah */

hr.medium {
    border-top: 2px solid silver;
}

.indented {
    margin-top: 20px;
}

.main-container {
    margin-top: 20px;
}

.phone, .zoomable {
    border-bottom: 1px dotted gray;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: orange;
}

h2, h3 {
    font-family: 'Ladislav Regular', sans-serif;
}

iframe.datawrapper {
    width: 100%;
    height: 400px;
    border: none;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
