---
layout: titulka
---

<div class="row">
    <div class="col-xs-6">
    {% for post in paginator.posts limit:1 %}
        {% include clanek-nahled.html %}
    {% endfor %}
    </div>
    <div class="col-xs-6">
    {% for post in paginator.posts limit:1 offset:1 %}
        {% include clanek-nahled.html %}
    {% endfor %}
    </div>
</div>

<hr>

<div class="row">
    <div class="col-xs-4">
    {% for post in paginator.posts offset:2 %}
        {% include clanek-nahled.html %}
    {% endfor %}
    </div>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page == 1 %}
        <a href="/" class="novejsi-clanky">Novější články</a>
    {% elsif paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="novejsi-clanky">Novější články</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="starsi-clanky">Starší články</a>
    {% endif %}
</div>
{% endif %}
