use lib "./lib";
use Sane::Perl;
use Jekyll;

{
    # http://stackoverflow.com/questions/20200865
    no warnings 'redefine';
    sub Data::Dump::Streamer::_qquote {
        my $s = shift;
        return "'$s'";
    }
}

my $j = Jekyll->new(root => '../_posts');
