---
layout: static-page
title: Kontakty
---

<div class="row">
    <div class="col-xs-4">
        <h2>Inzerce</h2>
        <ul class="list-unstyled">
            <li>Jitka Melkusová
            <li><a href="mailto:inzerce@boskovicko.cz">inzerce@boskovicko.cz</a>
            <li><a href="/inzerce/">podrobné informace</a>
            <li><span class="phone">602 189 735</span>
            <li><span class="phone">516 454 163</span>
        </ul>

        <h2>Šéfredaktorka</h2>
        <ul class="list-unstyled">
            <li>Andrea Šrámková
            <li><a href="mailto:boskovicko@boskovicko.cz">boskovicko@boskovicko.cz</a>
            <li><span class="phone">602 202 790</span>
            <li><span class="phone">516 454 163</span>
        </ul>

        <h2>Vydavatelka</h2>
        <ul class="list-unstyled">
            <li>Jitka Melkusová
            <li><a href="mailto:jitka.melkusova@boskovicko.cz">jitka.melkusova@boskovicko.cz</a>
            <li><span class="phone">602 189 735</span>
            <li><span class="phone">516 454 163</span>
        </ul>

        <h2>Grafická úprava</h2>
        <ul class="list-unstyled">
            <li>Ilja Melkus
            <li><a href="mailto:ilja.melkus@boskovicko.cz">ilja.melkus@boskovicko.cz</a>
            <li><span class="phone">724 222 775</span>
        </ul>
    </div>

    <div class="col-xs-4">
        <h2>Autoři</h2>
        {% for autor in site.data.autori %}
        <ul class="list-unstyled">
            <li>
                {{ autor[0] }}
                {% if autor[1].sifra %}
                <span class="text-muted">{{ autor[1].sifra }}</span>
                {% endif %}
            </li>
            <li><a href="mailto:{{ autor[1].mail }}">{{ autor[1].mail }}</a>
            <li><span class="phone">{{ autor[1].telefon }}</span>
        </ul>
        {% endfor %}
    </div>

    <div class="col-xs-4">
        <h2>Redakce</h2>
        <ul class="list-unstyled">
            <li><a href="http://mapy.cz/s/8LtX">Plačkova 4, 680 01 Boskovice</a>
            <li><a href="mailto:boskovicko@boskovicko.cz">boskovicko@boskovicko.cz</a>
            <li><span class="phone">516 454 163</span>
        </ul>

        <h2>Fakturace</h2>
        <ul class="list-unstyled">
            <li>Boskovicko
            <li>Jitka Melkusová
            <li>Plačkova 4, 680 01 Boskovice
            <li>IČO <span class="zoomable">18547010</span>
            <li>DIČ <span class="zoomable">CZ535321048</span>
        </ul>
    </div>
</div>
