use strict;
use warnings;
use utf8::all;
use v5.10;
use Jekyll::Site;

{
    # http://stackoverflow.com/questions/20200865
    no warnings 'redefine';
    sub Data::Dump::Streamer::_qquote {
        my $s = shift;
        return "'$s'";
    }
}

my $site = Jekyll::Site->new(root => '_posts');
