<p class="meta">
    <span>{{ post.date | date: "%-d. %m. %Y" }}</span>
    {% if post.author %}
        {% assign author_info = site.data.autori[post.author] %}
        {% if author_info.mail %}
        <a href="mailto:{{ author_info.mail }}" class="author">{{ post.author }}</a>
        {% else %}
        <span class="author">{{ post.author }}</span>
        {% endif %}
    {% endif %}
    {% if post.category %}
        <a class="section" href="/rubriky/{{ post.category | url_encode }}/">{{ post.category }}</a>
    {% endif %}
</p>
