<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="/js/google-analytics.js"></script>
<script src="/js/outbound-links.js"></script>
<script src="/js/cover-photos.js"></script>

<script src="/lib/zoomable-type/zt.js"></script>
<script src="/lib/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script>
	$(function() {
        $('.phone').add('.zoomable').zoomabletype();
		$(".photo-post-preview a").fancybox({
            "margin": [40, 40, 40, 40]
        });
	});
</script>
