<div class="container">
    <div class="paticka">
        <div class="row">
            <div class="col-xs-4">
                <ul class="list-unstyled">
                    <li>Boskovicko, regionální noviny
                    <li><a href="http://mapy.cz/s/8LtX">Plačkova 4, 680 01 Boskovice</a>
                    <li><a href="mailto:boskovicko@boskovicko.cz">boskovicko@boskovicko.cz</a>
                    <li><span class="telefon">516 454 163</span>
                </ul>
            </div>
            <div class="col-xs-4">
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/Boskovicko">Boskovicko na Facebooku</a>
                    <li><a href="/kontakt/">Podrobné kontakty</a>
                    <li><a href="/inzerce/">Inzerujte u nás</a>
                </ul>
            </div>
            <div class="col-xs-4">
                <form id="cse-search-box" action="http://google.com/cse">
                    <input type="hidden" name="cx" value="007324235428213417590:p98nrx6tw8u">
                    <input type="hidden" name="ie" value="utf-8">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="klid duše" size="31">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" name="sa" value="Hledej">
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
