{% for post in paginator.posts %}
    {% if post.photo %}
        {% assign featured_post = post %}
    {% endif %}
{% endfor %}

<div class="row">
    <div class="col-xs-8">
        {% include zahlavi.html %}
        {% if featured_post %}
            <div class="hlavni-clanek">
            {% assign post = featured_post %}
            {% include clanek-nahled.html photo=true %}
            <hr>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6 col-sm-12">
            {% for post in paginator.posts limit:3 %}
                {% if post.url != featured_post.url %}
                    {% include clanek-nahled.html %}
                {% endif %}
            {% endfor %}
            </div>
            <div class="col-md-6 col-sm-12">
            {% for post in paginator.posts offset:3 limit:3 %}
                {% if post.url != featured_post.url %}
                    {% include clanek-nahled.html %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% if paginator.total_pages > 1 %}
            <div class="strankovani">
                {% if paginator.next_page %}
                    <a href="{{ paging_prefix }}/strana/{{ paginator.next_page }}" class="starsi-clanky">Starší články</a>
                {% else %}
                    <a href="" class="disabled starsi-clanky">Starší články</a>
                {% endif %}
                <span class="hvezda"><span class="glyphicon glyphicon-time"></span></span>
                {% if paginator.previous_page == 1 %}
                    <a href="{{ paging_root }}/" class="novejsi-clanky">Novější články</a>
                {% elsif paginator.previous_page %}
                    <a href="{{ paging_prefix }}/strana/{{ paginator.previous_page }}" class="novejsi-clanky">Novější články</a>
                {% else %}
                    <a href="" class="disabled novejsi-clanky">Novější články</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="col-xs-4 sidebar">
        {% include reklama.html %}
        <a href="http://stare.boskovicko.cz/akce.phtml">
            <div class="box kalendar-akci">
                <h2>Kalendář akcí</h2>
                <p>Pravidelně aktualizovaný přehled koncertů, divadelních
                představení, výstav, plesů, zábav a dalších akcí v Boskovicích,
                Blansku i okolí.</p>
            </div>
        </a>
        {% include prehled-vydani.html %}
    </div>
</div>
