{% for post in paginator.posts %}
    {% if post.photo %}
        {% assign featured_post = post %}
    {% endif %}
{% endfor %}

<div class="row">
    <div class="col-xs-4 seznam-clanku">
        {% for post in paginator.posts %}
            {% if post.url != featured_post.url %}
                {% include clanek-nahled.html %}
            {% endif %}
        {% endfor %}
        <hr>
        {% if paginator.total_pages > 1 %}
        <div class="pagination">
            {% if paginator.previous_page == 1 %}
                <a href="/" class="novejsi-clanky">Novější články →</a>
            {% elsif paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="novejsi-clanky">Novější články →</a>
            {% endif %}
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="starsi-clanky">← Starší články</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="col-xs-8">
        {% if featured_post %}
            {% assign post = featured_post %}
            {% include clanek-nahled.html %}
            <hr>
        {% endif %}
        <div class="row">
            <div class="col-xs-6">
                <img class="img-responsive reklama-ctverec" src="/fotky/reklama.png" alt="Reklama">
                <img class="img-responsive" src="http://placehold.it/500x500&text=obsah">
            </div>
            <div class="col-xs-6">
                <img class="img-responsive" src="http://placehold.it/500x1000&text=obsah">
            </div>
        </div>
    </div>
</div>
