{% for post in paginator.posts %}
    {% if post.photo and (featured_post == blank) %}
        {% assign featured_post = post %}
    {% endif %}
{% endfor %}

<div class="row">
    <div class="col-xs-8">
        {% include masthead.html %}
        {% if featured_post %}
            <div class="featured-article">
            {% assign post = featured_post %}
            {% include article-preview.html photo=true %}
            <hr>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6 col-sm-12">
            {% for post in paginator.posts limit:3 %}
                {% if post.url != featured_post.url %}
                    {% include article-preview.html %}
                {% endif %}
            {% endfor %}
            </div>
            <div class="col-md-6 col-sm-12">
            {% for post in paginator.posts offset:3 limit:3 %}
                {% if post.url != featured_post.url %}
                    {% include article-preview.html %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% if paginator.total_pages > 1 %}
            <div class="pager">
                {% if paginator.next_page %}
                    <a href="{{ paging_prefix }}/strana/{{ paginator.next_page }}">Starší články</a>
                {% else %}
                    <a href="" class="disabled">Starší články</a>
                {% endif %}
                <span class="divider"><span class="glyphicon glyphicon-time"></span></span>
                {% if paginator.previous_page == 1 %}
                    <a href="{{ paging_root }}/">Novější články</a>
                {% elsif paginator.previous_page %}
                    <a href="{{ paging_prefix }}/strana/{{ paginator.previous_page }}">Novější články</a>
                {% else %}
                    <a href="" class="disabled">Novější články</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="col-xs-4 sidebar">
        {% include ad-square.html %}
        {% include event-calendar.html %}
        {% include issue-picker.html %}
        {% include top-articles.html %}
    </div>
</div>
