<div class="paticka">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <ul class="list-unstyled">
                    <li>Boskovicko, regionální noviny
                    <li><a href="http://mapy.cz/s/8LtX">Plačkova 4, 680 01 Boskovice</a>
                    <li><a href="mailto:redakce@boskovicko.cz">redakce@boskovicko.cz</a>
                    <li>+420 516 454 163
                </ul>
            </div>
            <div class="col-xs-4">
                <ul class="list-unstyled">
                    <li><a href="">Pořiďte si předplatné</a>
                    <li><a href="https://www.facebook.com/Boskovicko">Boskovicko na Facebooku</a>
                </ul>
            </div>
            <div class="col-xs-4">
                Tady máme místo.
            </div>
        </div>
    </div>
</div>
