{% if paginator.total_pages > 1 %}
    <div class="pager">
        {% if paginator.next_page %}
            <a href="{{ paging_prefix }}/strana/{{ paginator.next_page }}">Starší články</a>
        {% else %}
            <a href="" class="disabled">Starší články</a>
        {% endif %}
        <span class="divider"><span class="glyphicon glyphicon-time"></span></span>
        {% if paginator.previous_page == 1 %}
            <a href="{{ paging_root }}/">Novější články</a>
        {% elsif paginator.previous_page %}
            <a href="{{ paging_prefix }}/strana/{{ paginator.previous_page }}">Novější články</a>
        {% else %}
            <a href="" class="disabled">Novější články</a>
        {% endif %}
    </div>
{% endif %}

