<!DOCTYPE html>
<html lang="cs">
<head>
    {% include html-head.html %}
    <title>{{ page.title }} | Boskovicko, regionální noviny</title>
    {% include social/open-graph-meta.html %}
</head>
<body>
    <script src="/js/balanced-sidebar.js"></script>
    <div class="container main-container">
        <div class="row">
            <div class="col-xs-8 article-container">
                {% include masthead.html %}
                <h2>{{ page.title }}</h2>
                {% assign post = page %}
                {% include article/meta.html %}
                {{ content }}
                {% if page.tags.size > 0 %}
                <hr class="medium">
                {% include social/facebook-like-button.html %}
                <ul class="tag-list">
                    {% for tag in page.tags %}
                    <li><a href="/temata/{{ tag | url_encode }}/">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-xs-4 sidebar">
                {% include sidebar/ad-square.html %}
                {% include sidebar/related-posts.html %}
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
