<!DOCTYPE html>
<html lang="cs">
<head>
    {% include html-head.html %}
    <title>{{ page.title }} | Boskovicko, regionální noviny</title>
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="Boskovicko, regionální noviny">
    {% if page.photo %}
    <meta property="og:image" content="{{ page.photo }}">
    {% endif %}
</head>
<body>
    <script src="/js/balanced-sidebar.js"></script>
    <div class="container main-container">
        <div class="row">
            <div class="col-xs-8 article-container">
                {% include masthead.html %}
                <h2>{{ page.title }}</h2>
                {% assign post = page %}
                {% include article-meta.html %}
                {{ content }}
                {% if page.tags.size > 0 %}
                <hr class="medium">
                <ul class="tag-list">
                    {% for tag in page.tags %}
                    <li><a href="/temata/{{ tag | url_encode }}/">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-xs-4 sidebar">
                {% include ad-square.html %}
                {% for post in site.related_posts | limit:5 %}
                    {% if post.url != page.url %}
                        {% include article-preview-small.html %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
