<!DOCTYPE html>
<html lang="cs">
<head>
    {% include head.html %}
    <title>{{ page.title }} | Boskovicko, regionální noviny</title>
</head>
<body>
    <script src="/js/balanced-sidebar.js"></script>
    <div class="container obsah">
        <div class="row">
            <div class="col-xs-8 clanek">
                {% include zahlavi.html %}
                <h2>{{ page.title }}</h2>
                {% assign post = page %}
                {% include clanek-meta.html %}
                {{ content }}
                {% if page.tags.size > 0 %}
                <hr>
                <ul class="seznam-temat">
                    {% for tag in page.tags %}
                    <li><a href="/temata/{{ tag | url_encode }}/">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-xs-4 sidebar">
                <img class="img-responsive reklama-ctverec" src="/fotky/reklama.png" alt="Reklama">
                {% for post in site.related_posts | limit:5 %}
                    {% if post.url != page.url %}
                        {% include clanek-nahled-maly.html %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include paticka.html %}
</body>
</html>

