<!DOCTYPE html>
<html lang="cs">
<head>
    {% include head.html %}
    <title>{{ page.title }} | Boskovicko, regionální noviny</title>
</head>
<body>

    {% include zahlavi.html %}

    <div class="container">
        <div class="row">

            <div class="col-xs-8 clanek">
                <h2>{{ page.title }}</h2>
                <hr>
                {{ content }}
                <hr>
                {% assign post = page %}
                {% include clanek-meta.html %}
            </div>

            <div class="col-xs-4 ">
                {% if page.categories %}
                    {% for category_name in page.categories limit:1 %}
                        {% assign category = site.categories[category_name] %}
                        {% if category.size > 1 %}
                            {% for post in category %}
                                {% if post.url != page.url %}
                                    {% include clanek-nahled-maly.html %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>

    {% include paticka.html %}

</body>
</html>

