<!DOCTYPE html>
<html lang="cs">
<head>
    {% include head.html %}
    <title>{{ page.title }} | Boskovicko, regionální noviny</title>
</head>
<body>
    <div class="container">
        {% include zahlavi.html %}

        <div class="row">
            <div class="col-xs-8">
                <h2>{{ page.title }}</h2>
                {{ content }}
            </div>
            <div class="col-xs-4">
                {% if page.categories %}
                    {% for category_name in page.categories limit:1 %}
                        {% assign category = site.categories[category_name] %}
                        {% if category.size > 1 %}
                            <h2>Další články v <a href="/rubriky/{{ category_name }}/">rubrice {{ category_name }}</a></h2>
                            <ul>
                                {% for post in category %}
                                    {% if post.url != page.url %}
                                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
</body>
</html>

