<!DOCTYPE html>
<html lang="cs">
<head>
    {% include html-head.html %}
    {% if page.grouptype == 'temata' %}
    <title>Články s tématem „{{ page.title }}“ | Boskovicko, regionální noviny</title>
    {% else %}
    <title>{{ page.title | capitalize }} | Boskovicko, regionální noviny</title>
    {% endif %}
</head>
<body>
    <div class="container main-container">
        {% capture paging_prefix %}/{{ page.grouptype }}/{{ page.title | url_encode }}{% endcapture %}
        {% assign paging_root = paging_prefix %}
        {% include pagination/regular.html %}
    </div>
    {% include footer.html %}
    {% include deferred-javascript.html %}
</body>
</html>
