<!DOCTYPE html>
<html lang="cs">
<head>
    {% include html-head.html %}
    <title>{{ page.title }} | Boskovicko, regionální noviny</title>
</head>
<body>
    <div class="container main-container">
        <div class="row">
            <div class="col-xs-8">
                {% include masthead.html %}
                {{ content }}
            </div>
            <div class="col-xs-4 sidebar">
                {% include sidebar/full.html %}
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>

