<script defer src="/js/issue-picker.js"></script>
<div class="box">
    <h2>Papírová vydání</h2>
    <select class="form-control issue-picker">
        <option value="">vyberte si vydání:</option>
        {% for vydani in site.data.vydani %}
        <option value="{{ vydani.cislo | replace: '/', '-' }}">{{ vydani.cislo }}  {{ vydani.datum }}</option>
        {% endfor %}
    </select>
    <p>Starší čísla převádíme na nový web postupně. Pokud hledáte
    vydání, které v seznamu chybí, najdete ho na <a href="http://stare.boskovicko.cz">našem starším webu</a>.</p>
</div>
