<div class="box link-list">
    <h2>Nejčtenější články</h2>
    <ol>
        <li><a href="/clanky/2014/08/12/ve-vranove-vyhral-kratky.html">Ve Vranově vyhrál Krátký</a></li>
        <li><a href="/clanky/2014/08/25/volby-rozdelily-boskovicke-ano.html">Volby rozdělily boskovické ANO</a></li>
        <li><a href="/clanky/2014/08/09/body-rockers-boduji-na-mistrovstvi-evropy.html">Body Rockers na mistrovství Evropy</a></li>
        <li><a href="/clanky/2014/08/20/v-boskovicich-kandiduje-pouze-osm-skupin.html">V Boskovicích kandiduje pouze osm skupin</a></li>
        <li><a href="/clanky/2014/07/17/odpoved-na-otevreny-dopis-ludmily-kersnerove.html">Odpověd na otevřený dopis Ludmily Keršnerové</a></li>
    </ol>
</div>
