<div class="box link-list">
    <h2>Nejčtenější články</h2>
    <ol>
        <li><a href="/clanky/2014/10/16/boskovicka-koalice-cssd-lidovci-ano.html">Boskovická koalice uzavřena</a></li>
        <li><a href="/clanky/2014/08/25/volby-rozdelily-boskovicke-ano.html">Volby rozdělily boskovické ANO</a></li>
        <li><a href="/clanky/2014/10/11/boskovicke-volby-vyhrala-cssd.html">Boskovické volby vyhrála ČSSD</a></li>
        <li><a href="/clanky/2014/10/16/vysledky-voleb-v-regionu.html">Výsledky voleb v regionu</a></li>
        <li><a href="/clanky/2014/10/09/pravda-o-sportovni-hale.html">Pravda o sportovní hale</a></li>
    </ol>
</div>
