<div class="box link-list">
    <h2>Mohlo by vás zajímat…</h2>
    <ul>
        <li><a href="/temata/rozhovory/">Rozhovory</a></li>
        <li><a href="/temata/hazard/">Hazard na Boskovicku</a></li>
        <li><a href="/temata/komunalni-volby/">Komunální volby</a></li>
        <li><a href="/temata/skolky/">Mateřské školy</a></li>
        <li><a href="/temata/sportovni-hala/">Sportovní hala</a></li>
        <li><a href="/temata/25-let-boskovicka/">25 let Boskovicka</a></li>
        <li><a href="http://www.rozpocetobce.cz/seznam-obci/581372-boskovice">Rozpočet Boskovic</a></li>
    </ul>
</div>
